*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbarContext{
    height: 50px;     
    width: 50%;
    list-style-type: none;
}
.navbar{
    background-color:#0D6EFD;
}
.main{
    height: 90.5vh;
}
#mode{
    appearance: none;
    width: 60px;
    height: 25px;
    border-radius:12px;
    background-color:#fff;
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.452);
    cursor: pointer;
}
#mode::before{
    content:"";
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color:black;
    transition: 0.3s ease-in-out;
}
#mode:checked::before{
    background-color:rgb(255, 175, 47);
    transform: translateX(35px);
}
.navDark{
    background-color:rgba(0, 0, 0, 0.796);
}
.mainDark{
    background-color:rgba(0, 0, 0, 0.389);
}
@media only screen and (max-width:576px){
    .navbarContext{
        background-color:#0D6EFD;
        list-style-type: none;  
        position: absolute;
        flex-direction: column;
        left: -10px;
        height: 250px;     
        width: 103%;
        top: 3.2rem;
        transform: translateY(-125%);
        transition: 0.2s ease all;
    }
    .show{
        transform: translateY(0%);
    }
    .menu{
        font-size: 25px;
        color:#fff;
    }
}